<div class="tab-pane fade" id="asignaturas-externas-content" role="tabpanel" aria-labelledby="asignaturas-externas-tab">
    <h4>Asignaturas Relacionadas (Fuente Externa)</h4>
    <p class="text-muted small">Información obtenida de <a href="https://huayca.crub.uncoma.edu.ar/catedras/1.0/rest/materias" target="_blank">API Huayra Cátedras</a>. Se muestran asignaturas no optativas que coinciden con el departamento, área y orientación (si aplica) del concurso.</p>
    {% include 'shared/tarjetas_asignaturas.html' %}
</div>
