<div class="modal fade" id="sortearTemaModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sortear Tema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="sorteo-animation" class="text-center">
                    <div class="mb-4">
                        <h3>Sorteando tema...</h3>
                        <div class="dice-animation">
                            <i class="bi bi-dice-6 fa-4x fa-spin"></i>
                        </div>
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                
                <div id="sorteo-result" class="text-center d-none">
                    <h3>Resultado del sorteo</h3>
                    <div class="temas-container mt-4">
                        <!-- Temas will be dynamically added here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btn-iniciar-sorteo" type="button" class="btn btn-primary">Iniciar Sorteo</button>
            </div>
        </div>
    </div>
</div>
